Fichiers et dossiers à ignorer par Git
Fichiers de cache Python
pycache/

Modèles et autres fichiers binaires
model/*.pkl

Fichiers spécifiques à l'environnement
.venv/
env/

Fichiers spécifiques à Streamlit
.streamlit/
# Ignorer les dossiers de captures et de rapports
capture_Dashbor_power_bi/
capture_app_streamli/